<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <bean
    id="SocialMediaa"
    class="GroupA.SocialMediaa">
        <property name="socialMedia">
<list>
    <ref bean="instagram"></ref>
    <ref bean="facebook"></ref>
</list>
        </property>

    </bean>
    <bean id="facebook"
    class="GroupA.Facebook"/>
    <bean id="instagram"
    class="GroupA.Instagram"/>

</beans>







